application:
    mapping:
        *: Doomy\Restopus\tests\Support\Presenter\*Presenter

services:
    routerFactory: Doomy\Restopus\Routing\RestRouterFactory(
        restPresenterNamespace: Doomy\Restopus\tests\Support\Presenter,
        presentersDir: %rootDir%/tests/Support/Presenter
    )
    router:
        factory: @routerFactory::createRouter()
    - Doomy\Restopus\Response\Service\EntityViewResponseMapper
    - Doomy\Restopus\Request\Service\RequestBodyProvider
    - Doomy\Restopus\Request\Service\RequestValidator
    - Doomy\Restopus\Request\Service\RequestMethodMapper
    - Doomy\Security\Authenticator\DummyAuthenticator
    - Doomy\Restopus\Request\Service\InPathParameterProvider
    - Doomy\Restopus\Attribute\Service\AttributeProvider